@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import './colors.scss';

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

body {
  background-image: url('../assets/blur-background.png');
  background-color: $color-primary;
  color: $color-text-primary;
}
